:root {
	--color-blue-hard: #003d92;
	--color-dark-gray: #5b5b5d;
	--color-blue: #1d71b9;
}
/*=============================================================================
GENERAL
=============================================================================*/
body { color: var(--color-dark-gray); overflow-x: hidden; }
*::-moz-selection { background: var(--color-blue-hard); color: #FFF; text-shadow: none; }
*::selection { background: var(--color-blue-hard); color: #FFF; text-shadow: none; }
.bg-default { background-color: #eee; border: 1px solid #ddd; }
.bg-default-02 { background-color: #ddd; border: 1px solid #ccc; }
.bg-blue-hard { background-color: var(--color-blue-hard); }
.bg-blue-gradient {
	background: var(--color-blue);
	background: -moz-linear-gradient(left,  var(--color-blue) 0%, #2260ab 80%, #2d2d83 100%);
	background: -webkit-linear-gradient(left,  var(--color-blue) 0%,#2260ab 80%,#2d2d83 100%);
	background: linear-gradient(to right,  var(--color-blue) 0%,#2260ab 80%,#2d2d83 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--color-blue)', endColorstr='#2d2d83',GradientType=1 );
}
.text-black { color: #000; }
.text-blue-hard { color: var(--color-blue-hard); }
.text-dark-gray { color: var(--color-dark-gray); }
.bg-cover-index {
	background-image: url("http://placehold.it/1920x1080");
}
.zi-2 { position: relative; z-index: 2; }
.zi-3 { z-index: 3; }
.zi-4 { z-index: 4; }
.zi-5 { z-index: 5; }
.border-r { border-right: 1px solid transparent; }
.border-l { border-left: 1px solid transparent; }
.border-b { border-bottom: 1px solid transparent; }
.border-t { border-top: 1px solid transparent; }
.border-blue-hard { border-color: var(--color-blue-hard); }
.blue-indicators.circle-indicators .carousel-indicators li {
	background-color: var(--color-blue-hard);
	background-color: var(--color-blue-hard);
}
.blue-indicators.circle-indicators .carousel-indicators .active {
  background-color: transparent;
  border: 1px solid var(--color-blue-hard);
}
.blue-indicators.circle-indicators .inner-circle {
	background-color: var(--color-blue-hard);
}
.subsec-separator { padding: 60px 0; }
.fa-spin-custom {
  -webkit-animation: fa-spin 8s infinite linear;
  animation: fa-spin 8s infinite linear;
}
.btn-animated span.btn-text { position: relative; pointer-events: none; }
.btn-animated {
	border: unset;
	position: relative;
	overflow: hidden;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
}
.btn-animated:hover::before { --size: 400px; text-decoration: none; }
.btn-animated::before {
	--size: 0;
	content: '';
	position: absolute;
	left: var(--x);
	top: var(--y);
	width: var(--size);
	height: var(--size);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform-origin: center;
	transform-origin: center;
	transition: width .2s ease, height .2s ease;
}
.btn-blue-transp { color: var(--color-blue-hard); background-color: transparent; border: 1px solid var(--color-blue-hard); }
.btn-blue-transp:hover { color: #FFF !important; }
.btn-blue-transp::before {
	background: radial-gradient(circle closest-side, var(--color-blue-hard), transparent);
}
.btn-circle {
	width: 130px;
	height: 130px;
	border-radius: 100%;
	border-width: 2px;
	padding: 15px;
	position: absolute;
	font-size: 14px;
}
.btn-circle span {
	width: 100%;
	position: absolute !important;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.btn-br { bottom: -75px; right: 0; }
.btn-bl { bottom: -75px; left: 0; }
.btn-blue-hard {
	color: #FFF;
	background-color: var(--color-blue-hard);
	border: 1px solid var(--color-blue-hard);
	border-radius: 0;
	transition: 0.2s;
}
.btn-blue-hard:hover, .btn-blue-hard:focus, .btn-blue-hard:active {
	color: var(--color-blue-hard);
	background-color: #FFF
}
/*=============================================================================
THANKS PAGE
=============================================================================*/
.thanks-page { height: 60vh; }
.thanks-page img { width: 400px; max-width: 100%; }
/*=============================================================================
NAVBAR
=============================================================================*/
.navbar {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link {
	color: var(--color-blue-hard);
}
.nb-input {
	background-color: #eeeff1;
	border-radius: 25px;
	padding-left: 18px;
	padding-right: 30px;
	border: unset;
}
.nb-search {
	position: absolute;
	right: 15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.navbar-light .navbar-nav .nav-link {
	padding-left: 30px;
	padding-right: 30px;
}
.navbar-light .navbar-nav .nav-item.right-separator {
	border-right: 1px solid var(--color-blue-hard);
}
.navbar-light .navbar-nav .nav-item.right-separator:nth-child(4),
.navbar-light .navbar-nav .nav-item.right-separator:nth-child(5),
.navbar-light .navbar-nav .nav-item.right-separator:nth-child(6) { border:unset; }
/*=============================================================================
HOME
=============================================================================*/
.banner-logo {
	position: relative;
	top: 35%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.parallax-rack {}
.parallax-rack.static {
	position: fixed;
	top: 40%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.home-img-margin { margin-top: -20px; z-index: 1; }
.container-separator { height: 500px; }
#footer-carousel .carousel-indicators {
	bottom: -30px;
	margin-bottom: 0;
}
/*=============================================================================
FOOTER
=============================================================================*/
.social-ico > svg {
	width: 40px !important;
	height: 40px;
	padding: 0.4em;
	border: 3px solid #FFF;
	border-radius: 50%;
}
.newsletter-inp * { border-radius: 0; }
/*=============================================================================
BLOG
=============================================================================*/
.blog-play-container { height: auto !important; }
.bg-widget-cover.bg-mh {
	background-image: url("http://placehold.it/1920x500.png?text=1920x500.jpg");
	height: 500px;
}
.bg-widget-cover {
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.play-container { position: relative; height: 100%; }
.play-container:hover .play-ico { opacity: 1; cursor: pointer; }
.play-container:hover { cursor: pointer; }
.play-ico {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	transition: 0.2s;
	z-index: 1;
	opacity: 0.5;
}
.img-blog {
	min-height: 800px;
	background-image: url("../img/Blog/header.jpg");
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.container-blog {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
}
.i-text {
  background: #e2dede;
  border: none;
  border-radius: 10px;
  color: #757575;
  text-align: center;
  font-size: 12px;
  padding: 10px 40px;
  margin-right: 10px;
}
.bolder { font-weight: bolder !important; }
.hr-blog {
	max-width: 15%;
	border: 1px solid #e2dede;
	box-shadow: 0px 2px 3px #e2e2e2;
}
.text-intblog { width: 100%; position: absolute; bottom: 10px; }
.btn-blog {
	width: 100%;
  background: black;
  border: none;
  font-weight: 100;
  font-family: sans-serif;
  color: #fff;
}
.btn-blog2 {
  background: black;
  border: none;
  font-weight: 100;
  font-family: sans-serif;
  color: #fff;
}
.btn-blog3 {
	background: black;
  border: 1PX solid #FFF;
  font-weight: 100;
  font-family: sans-serif;
  color: #fff;
  padding: 6px 50px;
  font-size: 16px;
  transition: 0.2s;
}
.btn-blog3:hover { color: #000; background-color: #FFF; text-decoration: none; }
.text-initblogf { position: absolute; top: 30%; left: 30%; }
.img-finalblog {
	background-image: url("../img/Blog/footer.jpg");
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.custom-dropdown > li > .dropdown-menu, .dropdown-child { background-color: #333; }
.dropdown-child > a { color: #FFF; }
.custom-dropdown > li > .dropdown-menu > .nav-link:hover,
.custom-dropdown > li > .dropdown-menu > .dropdown-item:hover,
.dropdown-child > a:hover { background-color: #222; }
.dropdown-child > a:hover { color: #FFF; }
/*=============================================================================
MEDIA
=============================================================================*/
/* 1920 x 1080 */
@media( max-width: 1920px ) {}

/* 1600 x 900*/
@media( max-width: 1600px ) {}

/* 1440 x 900 */
@media( max-width: 1440px ) {}

/* 1280 x 800 */
@media( max-width: 1280px ) {}

/* 990 x 1000 */
@media( max-width: 990px ) {
	#home-carousel.full-carousel { margin-top: 70px; }
	#home-carousel.full-carousel .carousel-item {
		height: 600px;
		min-height: 600px;
	}
	.banner-logo {
		top: 50%;
		width: 300px;
	}
	.subsec-separator { padding: 50px 0; }
	.parallax-rack { top: 30%; width: 300px; }
	.nav-item.right-separator { border: unset !important; }
}

/* 767 x 414 */
@media( max-width: 767px ) {
	#home-carousel.full-carousel .carousel-item {
		height: 400px;
		min-height: 400px;
	}
	.subsec-separator { padding: 30px 0; }
	.home-img-margin { margin-top: 15px; }
	.btn-br, .btn-bl {
		bottom: 0;
		top: -120px;
		left: auto;
		right: auto;
		left: 65%;
		margin: 0 auto;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.container-separator { height: 60px; }
	#footer-carousel .carousel-indicators { display: none; }
	.border-r { border: unset; }
	.border-l { border: unset; }
	.border-b { border: unset; }
	.border-t { border: unset; }
	footer * { text-align: center; }
}

/* 576 x 320 */
@media( max-width: 576px ) {
	#home-carousel.full-carousel .carousel-item {
		height: 300px;
		min-height: 300px;
	}
	.subsec-separator { padding: 0; }
}
/*
	@media( max-width: 1920px ) {}
	@media( max-width: 1600px ) {}
	@media( max-width: 1440px ) {}
	@media( max-width: 1366px ) {}
	@media( max-width: 1280px ) {}
	@media( max-width: 1024px ) {}
	@media( max-width: 736px ) {}
	@media( max-width: 667px ) {}
	@media( max-width: 640px ) {}
	@media( max-width: 568px ) {}
*/
